body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 0px;
}
.inputSection {
  margin: 80px 0px 50px 0px;
  width: 400px;
}
.inputs {
  display: flex;
  flex-direction: column;
}

.addOption {
  margin-top: 2px;
}

button {
  border-radius: 30px;
  width: 40px;
  height: 25px;
  border-color: red;
  background-color: darkred;
  color: white;
}
